$color-blue: blue;
$color-green: green;
$color-red: red;

%common-style {
    color: $color-green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


@mixin article-card($color, $border, $font-size) {
    color: $color;
    border: $border;
    font-size: $font-size
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    padding: 10px;
    gap: 10px;

    & h1 {
        @extend %common-style;
        text-decoration: underline $color-blue;
        text-underline-offset: 8px;
    }

    & h2 {
        @extend %common-style;
        padding: 1rem;
        border: 1px solid $color-red;
    }

    & section {
        display: flex;
        flex-direction: row;
    }
}

article {
    @include article-card($color-green, 1px solid $color-green, 1rem)
}

article:nth-of-type(odd) {
    @include article-card($color-blue, 1px solid $color-green, 1rem)
}

section:last-of-type article {
    @include article-card($color-green, 1px solid $color-blue, 24px)
}

div section article p {
    padding: 10px;
    justify-content: center;
    text-align: center;
}